@import "../../../styles";

a {
  color: $white;
}

.logo {
  font-family: $font-fancy;
  font-size: 2rem;
  font-weight: 300;
  color: $white;
  padding: 0.4rem;
}

.ham-menu {
  display: none;
  position: fixed;
  justify-content: space-evenly;
  flex-direction: column;
  top: 0;
  right: 0;
  padding: 5px;
  width: 40px;
  height: 40px;
  z-index: 9999;

  &.close {
    :nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    :nth-child(2) {
      opacity: 0;
    }
    :nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }

  hr {
    display: block;
    width: 80%;
    height: 5px;
    color: $white;
    @include easeOut;

    &:hover {
      background: red;
    }
  }
}

.top-nav {
  margin: 1rem 0;
  ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 0.5rem;

    li {
      margin: auto;
      font-size: 1.4rem;

      a {
        color: $link;
        @include linkHover;
      }
    }
  }
}

.cart {
  display: flex;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 2px;
  padding: 5px;
  font-size: 23px;
  right: 50px;
  height: 40px;
  z-index: 9997;
}

.mobile-nav {
  position: absolute;
  min-height: 100vh;
  max-height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9998;

  justify-content: center;

  transform: translate(2000px, 0px);
  color: $black;
  @include easeOut;

  ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    li {
      padding: 1rem;
      a {
        @include linkHover;
        font-size: 2rem;
      }
    }
  }

  &.show {
    position: fixed;
    transform: translate(0px, 0px);
    @include easeOut;
  }
}

//phones - here we are keeping the breakpoints limited as this is intended only to display mastery of the concepts
@include smScreen {
  .top-nav {
    display: none;
  }

  .ham-menu {
    display: flex;
  }
}

// tablets
@include mdScreen {
  .ham-menu {
    display: flex;
  }
}

// desktops
@include lgScreen {
  body {
    background: #333;
  }

  .nav {
    display: block;

    .ham-menu {
      display: flex;
    }
  }
}
