// only for the most general of styles

@import "../styles";

.full-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .full-content {
    flex: 1;
  }
}

@include smScreen {
  body {
    background: $black;
  }
}
