<div class="container">
  <div class="header">
    Albums
  </div>

  <div class="albums-block" *ngFor="let album of albums">
    <div class="title">
      {{ album.title }}
    </div>
    <div class="art">
      <img src="../../../assets/img/albums/{{ album.art }}" alt="CD Cover" />
    </div>
    <a href="#">
      <button>
        GET IT!
      </button>
    </a>
    <div class="date">
      {{ album.date }}
    </div>
    <div class="label">
      {{ album.label }}
    </div>
    <button (click)="album.show = !album.show" class="trackbutton">
      View tracklist
    </button>
    <div class="tracklist" [ngClass]="{ show: album.show }">
      <div class="track" *ngFor="let track of album.tracklist">
        {{ track }}
      </div>
    </div>
    <hr />
  </div>
</div>
