@import "../../../styles.scss";

// TODO: We want a clickable tracklist that expands to show full list.

.container {
  width: 80%;
  color: $white;
  margin: 0 auto;
}

.albums-block {
  display: grid;

  a {
    grid-area: button;
  }
}

.title {
  grid-area: title;
}

hr {
  grid-area: hr;
}

.art {
  grid-area: art;
}

.trackbutton {
  grid-area: trackbutton;
}

.date {
  grid-area: date;
}

.label {
  grid-area: label;
}

.tracklist {
  grid-area: tracks;
  transform: translate(2000px) scale(0);
  @include easeOut;

  &.show {
    transform: translate(0) scale(1);
  }
}

@include smScreen {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
  }
  .albums-block {
    grid-template-areas:
      "title title art"
      "date date art"
      "label label art"
      "trackbutton .... button"
      "tracks tracks tracks"
      "hr   hr    hr";
    margin-bottom: 4rem;

    .art {
      margin: auto;
      img {
        width: 200px;
        border-radius: 1px;
        border: 1px solid $white;
      }
    }

    a {
      display: flex;
      justify-self: center;
    }
  }
}

@include mdScreen {
}

@include lgScreen {
}
