// only for basic global styles. This document contains:
// global styles
// font imports
// media query mixins
// SASS variables
// color themes
// Treat it as a _config file

// pre-built MATERIAL theme import

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "app/custom-css/config";

/* Global styles -----------------------------------------------------------------------
-----------------------------------------------------------------------------------*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  background: $black;
}

body {
  font-family: $font-primary;
  font-size: 10px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $link;
  @include easeOut;

  &.hover {
    @include linkHover;
  }
}
